{
  "presets": [
    "es2015",
    "stage-2",
    "react"
  ],
  "env": {
    "test": {
      "plugins": [
        [
          "css-modules-transform", {
            "extensions": [".css", ".scss", ".less"]
          }
        ]
      ]
    }
  }

}